@keyframes underscoreWave
    from
        background-position 0 100%
    to
        background-position -60px 100%

@keyframes underscoreDotMove
    from
        background-position 0 100%
    to
        background-position -120px 100%

underscoreSine(width, color)

    color = replace('#', '%23', s('%s', color))

    a = "data:image/svg+xml,%3Csvg width='120' height='6' viewBox='0 0 120 6' "
    b = "xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 3 Q 3 0 6 3 T 12 3 T 18 3 T 24 3 T 30 3 T 36 3 T 42 3 T 48 3 T 54 3 T 60 3 T 66 3 T 72 3 T 78 3 T 84 3 T 90 3 T 96 3 T 102 3 T 108 3 T 114 3 T 120 3' "
    c = "stroke='" + color + "' fill='none' stroke-width='" + width + "' /%3E%3C/svg%3E"

    padding-bottom: 4px
    background-image: url(a+b+c)
    background-repeat: repeat-x
    background-position: 0 100%
    background-size: 120px 8px
    transition: filter 0.3s cubic-bezier(0.4, 0, 0.2, 1)
    animation: underscoreWave 3s linear infinite

underscoreSawtooth(width, color)

    color = replace('#', '%23', s('%s', color))

    a = "data:image/svg+xml,%3Csvg width='120' height='6' viewBox='0 0 120 6' "
    b = "xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 3 L 3 0 L 6 3 L 9 6 L 12 3 L 15 0 L 18 3 L 21 6 L 24 3 L 27 0 L 30 3 L 33 6 L 36 3 L 39 0 L 42 3 L 45 6 L 48 3 L 51 0 L 54 3 L 57 6 L 60 3 L 63 0 L 66 3 L 69 6 L 72 3 L 75 0 L 78 3 L 81 6 L 84 3 L 87 0 L 90 3 L 93 6 L 96 3 L 99 0 L 102 3 L 105 6 L 108 3 L 111 0 L 114 3 L 117 6 L 120 3' "
    c = "stroke='" + color + "' fill='none' stroke-width='" + width + "' /%3E%3C/svg%3E"

    padding-bottom: 4px
    background-image: url(a+b+c)
    background-repeat: repeat-x
    background-position: 0 100%
    background-size: 120px 8px
    transition: filter 0.3s cubic-bezier(0.4, 0, 0.2, 1)
    animation: underscoreWave 3s linear infinite

underscoreSquare(width, color)

    color = replace('#', '%23', s('%s', color))

    a = "data:image/svg+xml,%3Csvg width='120' height='6' viewBox='0 0 120 6' "
    b = "xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6 L 0 0 L 6 0 L 6 6 L 12 6 L 12 0 L 18 0 L 18 6 L 24 6 L 24 0 L 30 0 L 30 6 L 36 6 L 36 0 L 42 0 L 42 6 L 48 6 L 48 0 L 54 0 L 54 6 L 60 6 L 60 0 L 66 0 L 66 6 L 72 6 L 72 0 L 78 0 L 78 6 L 84 6 L 84 0 L 90 0 L 90 6 L 96 6 L 96 0 L 102 0 L 102 6 L 108 6 L 108 0 L 114 0 L 114 6 L 120 6 L 120 0' "
    c = "stroke='" + color + "' fill='none' stroke-width='" + width + "' /%3E%3C/svg%3E"

    padding-bottom: 4px
    background-image: url(a+b+c)
    background-repeat: repeat-x
    background-position: 0 100%
    background-size: 120px 8px
    transition: filter 0.3s cubic-bezier(0.4, 0, 0.2, 1)
    animation: underscoreWave 3s linear infinite

underscoreDot(width, color)

    encodedColor = replace('#', '%23', s('%s', color))

    a = "data:image/svg+xml,%3Csvg width='120' height='6' viewBox='0 0 120 6' "
    b = "xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 3 L120 3' "
    c = "stroke='" + encodedColor + "' stroke-width='" + width + "' stroke-linecap='round' stroke-dasharray='2 5' fill='none'/%3E%3C/svg%3E"
    
    padding-bottom: 4px
    background-image: url(a+b+c)
    background-repeat: repeat-x
    background-position: 0 100%
    background-size: 120px 6px
    transition: filter 0.3s cubic-bezier(0.4, 0, 0.2, 1)
    animation: underscoreDotMove 8s linear infinite
