wave(width, color)

    color = replace('#', '%23', s('%s', color))

    a = "data:image/svg+xml,%3Csvg width='120' height='6' viewBox='0 0 120 6' "
    b = "xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 3 Q 3 0 6 3 T 12 3 T 18 3 T 24 3 T 30 3 T 36 3 T 42 3 T 48 3 T 54 3 T 60 3 T 66 3 T 72 3 T 78 3 T 84 3 T 90 3 T 96 3 T 102 3 T 108 3 T 114 3 T 120 3' "
    c = "stroke='" + color + "' fill='none' stroke-width='" + width + "' /%3E%3C/svg%3E"

    return url(a+b+c)