<div class="content" itemprop="articleBody">

  <h1 id="about-me">
    <a href="#about-me" class="headerlink" title="about-me"></a>
    🐑💨 About Me
  </h1>

  <div>
    <img src="/images/head.jpg"
      style="border-radius:100%; width: 20%; display: block; margin: 0 auto; margin-bottom: 36px;">

    <div style="width: 100%; padding-left: 40px; line-height: 1.2;">
      <p>I began my journey as an indie game developer using RPG Maker VX. During my school years, I also participated
        in web design competitions, which sparked my long-standing interest in building my own website. 💣</p>
      <p>Later, I pursued a degree in Computer Science, where I spent much of my free time exploring game-related
        systems—such as procedural map generation, NPC pathfinding and vision, inventory management, and lighting
        techniques. 🎮</p>
      <p>As I delved deeper into the field, I came to appreciate how concepts from mathematics and algorithms can be
        applied to programming to produce elegant and highly effective solutions—particularly in game development. ✨</p>
    </div>
  </div>

  <h1 id="vsinder">
    <a href="#vsinder" class="headerlink" title="vsinder"></a>
    🎲 Vsinder
  </h1>

  <figure class="highlight js">
    <table>
      <tbody>
        <tr>
          <td class="gutter">
            <pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br><span class="line">5</span><br><span class="line">6</span><br><span class="line">7</span><br><span class="line">8</span><br><span class="line">9</span><br><span class="line">10</span><br><span class="line">11</span><br><span class="line">12</span><br><span class="line">13</span><br><span class="line">14</span><br><span class="line">15</span><br><span class="line">16</span><br><span class="line">17</span><br><span class="line">18</span><br><span class="line">19</span><br></pre>
          </td>
          <td class="code">
            <pre><span class="line"><span class="keyword">const</span> epsilon = <span class="number">1e-4</span>;</span><br><span class="line"></span><br><span class="line"><span class="keyword">let</span> differential = <span class="keyword">function</span>(<span class="params">f</span>) {</span><br><span class="line">  <span class="keyword">return</span> <span class="function"><span class="params">x</span> =&gt;</span> (<span class="title function_">f</span>(x + epsilon) - <span class="title function_">f</span>(x)) / epsilon;</span><br><span class="line">};</span><br><span class="line"></span><br><span class="line"><span class="keyword">let</span> integral = <span class="keyword">function</span>(<span class="params">f, f0</span>) {</span><br><span class="line">  <span class="keyword">return</span> <span class="function"><span class="params">x</span> =&gt;</span> f0 + [...<span class="title class_">Array</span>(x / epsilon &gt;&gt; <span class="number">0</span>).<span class="title function_">keys</span>()].<span class="title function_">reduce</span>(<span class="function">(<span class="params">s, k</span>) =&gt;</span> {</span><br><span class="line">    <span class="keyword">return</span> s + <span class="title function_">f</span>(x - k * epsilon);</span><br><span class="line">  }, <span class="number">0</span>) * epsilon;</span><br><span class="line">};</span><br><span class="line"></span><br><span class="line"><span class="keyword">let</span> <span class="title function_">f</span> = (<span class="params">x</span>) =&gt; x * x;    <span class="comment">// f(x) = x^2;</span></span><br><span class="line"><span class="keyword">let</span> g = <span class="title function_">differential</span>(f); <span class="comment">// g(x) = 2*x;</span></span><br><span class="line"><span class="keyword">let</span> h = <span class="title function_">integral</span>(g, <span class="number">0</span>);  <span class="comment">// h(x) = x^2;</span></span><br><span class="line"></span><br><span class="line"><span class="variable language_">console</span>.<span class="title function_">log</span>(<span class="title function_">f</span>(<span class="number">2</span>), <span class="title function_">f</span>(<span class="number">4</span>), <span class="title function_">f</span>(<span class="number">6</span>));</span><br><span class="line"><span class="variable language_">console</span>.<span class="title function_">log</span>(<span class="title function_">g</span>(<span class="number">2</span>), <span class="title function_">g</span>(<span class="number">4</span>), <span class="title function_">g</span>(<span class="number">6</span>));</span><br><span class="line"><span class="variable language_">console</span>.<span class="title function_">log</span>(<span class="title function_">h</span>(<span class="number">2</span>), <span class="title function_">h</span>(<span class="number">4</span>), <span class="title function_">h</span>(<span class="number">6</span>));</span><br></pre>
          </td>
        </tr>
      </tbody>
    </table>
  </figure>

  <h1 id="journey">
    <a href="#journey" class="headerlink" title="journey"></a>
    🌴 Journey
  </h1>

  <p>I’ve put a few of my resumes here—there aren’t many, so this will have to do. 💣💣💣</p>

  <table>
    <thead>
      <tr>
        <th align="left">Name</th>
        <th align="center">Type</th>
        <th align="center">Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td align="left">
          Singapore Shopee (Data Engineer)
        </td>
        <td align="center">Career</td>
        <td align="center">Jan 2022 - Mar 2026</td>
      </tr>
      <tr>
        <td align="left">
          National Collegiate Programming Contest 2rd place
          (application software design)
          <br />
          全國大專電腦軟體設計競賽（應用軟體組）第二名
        </td>
        <td align="center">Honor</td>
        <td align="center">Nov 2018</td>
      </tr>
      <tr>
        <td align="left">
          National Collegiate Programming Contest honorable mention
          (application software design)
          <br />
          全國大專電腦軟體設計競賽（應用軟體組）佳作
        </td>
        <td align="center">Honor</td>
        <td align="center">Nov 2017</td>
      </tr>
      <tr>
        <td align="left">
          National Collegiate Programming Contest 3rd place
          (application software design)
          <br />
          全國大專電腦軟體設計競賽（應用軟體組）第三名
        </td>
        <td align="center">Honor</td>
        <td align="center">Nov 2016</td>
      </tr>
      <tr>
        <td align="left">
          National High School Skills Competition
          <br />
          全國工科技藝競賽志工
        </td>
        <td align="center">Volunteer</td>
        <td align="center">Nov. 2013</td>
      </tr>
    </tbody>
  </table>

  <h1 id="history">
    <a href="#history" class="headerlink" title="history"></a>
    🚧 Website History
  </h1>

  <p>From now on, I’ll only post “Update Log” entries when there’s something actually worth talking about.</p>

  <table>
    <thead>
      <tr>
        <th align="left">Description</th>
        <th align="center">Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td align="left">Upgrade version 6 (Hexo/Cactus Theme Update)</td>
        <td align="center">2026.03.21</td>
      </tr>
      <tr>
        <td align="left">Publish "About Me"</td>
        <td align="center">2022.02.19</td>
      </tr>
      <tr>
        <td align="left">Post "Update log 6"</td>
        <td align="center">2022.02.12</td>
      </tr>
      <tr>
        <td align="left">Upgrade version 5 (Hexo/Next Update)</td>
        <td align="center">2022.02.12</td>
      </tr>
      <tr>
        <td align="left">Post "Update log 5"</td>
        <td align="center">2020.02.25</td>
      </tr>
      <tr>
        <td align="left">Post "Update log 4"</td>
        <td align="center">2019.04.20</td>
      </tr>
      <tr>
        <td align="left">Upgrade version 4 (Hexo/Next Update)</td>
        <td align="center">2019.04.20</td>
      </tr>
      <tr>
        <td align="left">Restart updating</td>
        <td align="center">2019.03.28</td>
      </tr>
      <tr>
        <td align="left">Post "Update log 3"</td>
        <td align="center">2018.09.24</td>
      </tr>
      <tr>
        <td align="left">Pause updating</td>
        <td align="center">2018.09.24</td>
      </tr>
      <tr>
        <td align="left">Post "Update log 2"</td>
        <td align="center">2018.07.01</td>
      </tr>
      <tr>
        <td align="left">Post "Update log 1"</td>
        <td align="center">2017.02.25</td>
      </tr>
      <tr>
        <td align="left">Upgrade version 3 (Hexo)</td>
        <td align="center">2017.02.25</td>
      </tr>
      <tr>
        <td align="left">Upgrade version 2 (Vue.js+Express)</td>
        <td align="center">2017.12.18</td>
      </tr>
      <tr>
        <td align="left">Release version 1 (PHP)</td>
        <td align="center">2016.10.24</td>
      </tr>
    </tbody>
  </table>


  <h1 id="friend">
    <a href="#friend" class="headerlink" title="friend"></a>
    ⭐ Friend Website
  </h1>

  Here are my friends' websites. Feel free to check them out!

  <ul>
    <li>
      Cyris's Blog:
      <a href="https://blog.cyris.tw">https://blog.cyris.tw</a>
    </li>
    <li>
      Robert's Blog: 
      <a href="https://poyu-liao.github.io/blog">https://poyu-liao.github.io/blog</a>
    </li>
  </ul>
</div>