$color-background = #1d1f21
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #00b2e8
$color-scrollbar = #00b2e8
$color-meta = #00b2e8
$color-meta-code = #d4d4ed
$color-link = #ff3d77
$color-text = #d4d4ed
$color-accent-3 = #00b2e8
$color-accent-2 = #00b2e8
$color-accent-1 = #00b2e8
$color-quote = #2bdccc
$highlight = hexo-config("highlight") || "rainbow"
$underline-width = 2